{% extends "layout.html" %}

{% block body %}

<p>
  Log in to GOLEM or <a href="{{ url_for('register') }}">register a new account</a>
</p>

<font color="red">{{ error }}</font> 

<form method="POST" action="{{ url_for('login') }}">
    <table>
      <tr>
        <td>
            {{ form.username.label }}
        </td>
        <td>
            {{ form.username }}
        </td>
      </tr>
      <tr>
        <td>
            {{ form.password.label }}
        </td>
        <td>
            {{ form.password }}
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <input type="submit" value="Login"/>
        </td>
      </tr>
  </form>
{% endblock %}
