{% extends "layout.html" %}

{% block body %}
<p>Create a campaign</p>

<form method="POST" action="{{ url_for('campaigns_create') }}">
    <table>
      <tr>
        <td>
            {{ form.name.label }}
        </td>
        <td>
            {{ form.name }}
        </td>
        <td>
          <ul>
            <font color="red">{{ error }}</font>
            {% for error in form.name.errors %}
            <li><font color="red">{{ error }}</font></li>
            {% endfor %} 
          </ul>
        </td>
      </tr>
      <tr>
        <td>
            {{ form.starting_points.label }}
        </td>
        <td>
            {{ form.starting_points }}
        </td>
        <td>
	      <ul>
	        {% for error in form.starting_points.errors %}
	        <li><font color="red">{{ error }}</font></li>
	        {% endfor %}
	      </ul>
	    </td>
      </tr>
        <td colspan="3">
          <input type="submit" value="Create"/>
        </td>
</form>
{% endblock %}